extends layout.pug

block content
    div(class="errorForm")
        h4 Something has gone wrong!
        h5 Error:
        p=message
        h5 Click below to go back:
        a.left.loginAnchErrorPage(href="/login") Log In
        a.left(href="/registration") Register
        br
        br
        
    // form(method="GET", action=`/registration`)
    //     button.btn.waves-effect.waves-light.green.left(class="errRegBtn")
    //         i.material-icons account_circle
    // form(method="GET", action=`/login`)
    //     button.btn.waves-effect.waves-light.blue.left(class="errLoginBtn")
    //         i.material-icons fingerprint       