extends layout.pug

block content
    div.container
        h1.header.center.orange-text Welcome to the ToDo App!
        div.row.center
            h5.header.center.light An amazing app to keep yourself organized!
        div.row.center
            a.btn.btn-large.wave-effect.wave-light.green(href="/registration") Get Started
    div.container
        div.section
            div.row
                div.col.s12.m4
                    h5.center Easy to Use
                div.col.s12.m4
                    h5.center Customizable
                div.col.s12.m4
                    h5.center Edit and Delete
        
    